{# src/Catalog/CatalogBundle/Resources/views/Category/allproducts.html.twig #}

<ul id="categories">
    {% for item in categories %}
        {% for product in item.getProducts() %}
            <li>{{ product.getName() }}</li>
        {% endfor %}
    {% endfor %}
</ul>